
<% @messages.each_with_index do |msg,index| %>
	<%=index%>
	  <label> <%= msg["gender"] %> </label>
	  <label> <%= msg["message"] %> </label>
	  <label> <%= msg["createdAt"] %> </label>
	<br>
<% end %>