<a class="btn btn-large btn-success" href="/index/boy"><i class="icon-user icon-white"></i> Boy</a> 
<a class="btn btn-large btn-danger" href="/index/girl"><i class="icon-user icon-white"></i> Girl</a>